body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  height: 100vh;
}

.container {
  display: flex;
  align-items: top;
  width: 80%;
}

.sidebar1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 25px;
}

.sidebar2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  width: 380px;
  height: 380px;
  border: 1px solid #cccccc;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-result {
  width: 380px;
  height: 380px;
  border: 1px solid #cccccc;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.button-column {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  margin-left: 25px;
  margin-right: 25px;
}

.button {
  width: 250px;
  padding: 10px 20px;
  margin: 7px;
  font-size: 16px;
  color: white;
  background-color: #505050;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  outline: none;
  transition: all 0.3s ease;
}

.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.sum,
.subtract,
.negative,
.fliplr,
.flipud,
.concatenar,
.image,
.blend,
.limiarizacao,
.histograma,
.save {
  background-color: #505050;
  color: white;
}

.button.blend:hover {
  background-color: #0093e9;
}

.image {
  background-color: #0093e9;
  font-size: 18px;
  color: white;
}

.save {
  background-color: #00ce1b;
  font-size: 17px;
  color: white;
  margin-top: 19px;
}
